.card-list {
  margin-top: 20px;
  height: 350px;
  background-color: #d8d8d8;
  box-shadow: 1px 2px 15px 0 #c3c3c3;

}

.list-box {
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
  padding: 10px;
}

.first-menu {
  height: 100vh;
  width: 100%;
}

.logo {
  position: relative;
  height: 18vh;
  border: 2px, white;
}

.complaint-div {
  background-image: url(../../assets/complaint.jpg);
  background-size: cover;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  height: 28vh;
  position: relative;
}
.alert-div {
  background-image: url(../../assets/alert.jpg);
  background-size: cover;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  height: 28vh;
  position: relative;
}
.contact-div {
  background-image: url(../../assets/contact.jpg);
  background-size: cover;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  height: 28vh;
  position: relative;
}

.h4-title-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
	font-weight: 600;
}
