<a [routerLink]="['../']"> Go back </a>
<br>
<hr>
<h2> Signup </h2>
<label> Nombre </label>
<input type="text" [(ngModel)]="newUser.name" />
<br>
<label> Apellidos </label>
<input type="text" [(ngModel)]="newUser.lastName" />
<br>
<label> Calle </label>
<input type="text" [(ngModel)]="newUser.street" />
<br>
<label> Número </label>
<input type="number" [(ngModel)]="newUser.number" />
<br>
<label> Email </label>
<input type="text" [(ngModel)]="newUser.email" />
<br>
<label> Password </label>
<input type="password" [(ngModel)]="newUser.password" />
<br>
<label> Teléfono </label>
<input type="number" [(ngModel)]="newUser.telephone" />
<br>
<div class="">
  <label>Permisos</label>
  <select name="role" [(ngModel)]="newUser.role">
      <optgroup label="Permisos">
      <option value="User">Usuario</option>
      <option value="Security">Vigilante</option>
      <option value="Admin">Administrador</option>
    </select>
</div>
<br>
<button (click)="signup()"> Registrar usuario </button>
<br>
<p class="error"> {{ error }} </p>
