<!-- <a [routerLink]="['../']"> Go back </a>
<br>
<hr> -->
<!-- <div class="expanding-component"> -->
  <div class="all-content-complaint">
    <div class="container">
    <div class="cartel-arriba">
      <p class="complaint-text">DENUNCIAS</p>
    </div>
    <div class="first-menu">
      <div [routerLink]="['/complaint/list']" class="complaint-div">
        <h4 class="h4-title-center">LISTAR DENUNCIAS</h4>
      </div>
      <div [routerLink]="['/complaint/add']" class="alert-div">
        <h4 class="h4-title-center">CREAR DENUNCIA</h4>
      </div>
      <div [routerLink]="['']" class="contact-div">
        <h4 class="h4-title-center">VOLVER ATRÁS</h4>
      </div>
    </div>
  </div>
</div>
