<div class="background">
  <h2 class="white-text login-title"> Login </h2>
  <div class="login-card center-align col s12 m5">
    <form class="col s12">
      <div class="inputs">
        <div class="input-field col s6">
          <i class="material-icons prefix white-text">account_circle</i>
          <input id="icon_prefix" class="validate white-text" type="text" [(ngModel)]="username" name="username" />
          <label for="icon_prefix">E-mail</label>
        </div>
        <br>
        <div class="input-field col s6">
          <i class="material-icons prefix white-text">security</i>
          <input id="passworld_prefix" class="validate white-text" type="password" [(ngModel)]="password" name="password" />
          <label for="password_prefix">Contraseña</label>
        </div>
        <br>
      </div>
    <br><br>
    <div class="forgot-password">
      <u><a class="white-text left login-forgot-password" [routerLink]="['']">He olvidado mi contraseña</a></u>
    </div>
    <br>
    <div class="button-login">
      <br>
      <button class="col s12 btn white btn-login" (click)="login()"> E N T R A R </button>
    </div>
  </form>
    <div class="error" *ngIf="error">
      <p class="white-text error-text"> {{ error }} </p>
    </div>
  </div>
</div>
