<a [routerLink]="['../']"> Go back </a>
<div class="search-user">
  <label> Buscar </label>
  <br>
  <input type="text" [(ngModel)]="pattern" />
  <br>
</div>
<ul *ngFor="let user of userList | filter : 'street' && 'name' && 'number' && 'lastName' && 'telephone' && 'email' : pattern; let i = index">
  <hr>
  <li>Nombre: {{user.name}}</li>
  <li>Apellidos: {{user.lastName}}</li>
  <li>Dirección: Calle: {{ user.street }}, Nº: {{ user.number }}
  </li>
  <li>Email: {{user.email}}</li>
  <li>Contato: {{user.telephone}}</li>
  <li>Vecino: {{user.role}}</li>
  <button [routerLink]="['../', user._id, 'details']"> Ver usuario </button>
  <hr>
</ul>
