<a [routerLink]="['../']" *ngIf="session.user.role !== 'User'"> Go back </a>
<a [routerLink]="['']" *ngIf="session.user.role === 'User'"> Go back </a>
<br>
<hr>
<!-- <div class="newComplaint col s5">
  <div>
  </div>
  <div>
  </div>
  <div>
    <label>Img Url:</label>
    <input class="add-complaint-form" type="text" [(ngModel)]="newComplaint.img_url">
  </div>
</div> -->
<div class="container">
  <div class="">
    Cartel quiero denunciar una sustraccion
  </div>
  <div class="title-div">
    <div class="input-field col s6">
      <i class="small material-icons prefix">looks_one</i>
      <input type="text" id="icon_title" [(ngModel)]="newComplaint.title" [(ngModel)]="newComplaint.date">
      <label for="icon_title">Título</label>
    </div>
  </div>
  <div class="location-div">

  </div>
  <div class="date-div">
    <div class="input-field col s6">
      <i class="small material-icons prefix">looks_4</i>
    <input type="text" materialize="pickadate" class="datepicker" [(ngModel)]="newComplaint.date">
    <label for="icon_title">Fecha</label>
  </div>
  </div>
  <div class="hour-div">
    <div class="input-field col s6">
      <i class="small material-icons prefix">looks_4</i>
      <input type="text" materialize="pickatime" class="timepicker" id="icon_title" [(ngModel)]="newComplaint.hour">
      <label for="icon_title">Hora</label>
    </div>
  </div>
  <div class="hechos-div">
    <div class="input-field col s6">
      <i class="small material-icons prefix">looks_5</i>
      <textarea class="materialize-textarea" rows="8" cols="40" type="text" id="icon_description"[(ngModel)]="newComplaint.description"></textarea>
      <label for="icon_description">Describe los hechos</label>
    </div>
  </div>
  <div class="button-send">
    <button class="btn" (click)="addComplaint()">Enviar</button>
  </div>
</div>
